body {
    background-color:aquamarine;
}

p {
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
        font-size: 15px;
        outline: none;
        font-weight: 600;
        color: #8D8E8F;
        padding: 12px 12px;
        width: 60%;
        border: 2px solid #808080;
        margin: 5% auto;
        border-radius: 7px;
        background: rgba(29,222,222);
        box-shadow: 2px 3px 3px 0px rgba(1, 200, 8, 0.3);
        font-family: sans-serif;
}